@import "~/src/scss/variables";

.container {
  position: relative;
  z-index: 10;
  padding: 15px 10px 0;

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-bottom: 20px;

    .logo {
      margin: 5px 10px 0;

      & img {
        height: 50px;
        width: 50px;
      }
    }

    .title {
      h1,
      h2 {
        margin-bottom: 0;
      }
    }
  }

  .form {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20vh;

    & > * {
      margin: 5px 0;
    }
  }
}

@media screen and (min-width: $sm) {
  .container .form {
    align-items: center;
  }
}
