<div class="container">
    <header>
        <div class="logo">
          <img src="assets/images/logo.jpg" alt="Logo Social Network" />
        </div>
        <div class="title">
            <h1>Réinitialisation du mot de passe</h1>
        </div>
    </header>
        <div class="form">
            <p>Veuillez rentrer votre adresse électronique. Nous vous enverrons un courriel pour réinitialiser votre mot de passe.</p>
            <mat-form-field appearance="fill">
                <mat-label>Adresse électronique</mat-label>
                <input matInput [type]="'email'" placeholder="exemple@exemple.com" required [formControl]="email">
                <mat-error *ngIf="validateEmail()">{{ emailError }}</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="email.invalid" (click)="onFormSubmit()">Envoyer le lien de réinitialisation</button>
        </div>
</div>
