<header>
    <div class="logo">
      <img src="assets/images/logo.jpg" alt="Logo Social Network" />
    </div>
    <div class="title">
        <h1>Vous nous avez manqué</h1>
    </div>
</header>
<form class="form" [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
    <div class="form-fields">
        <mat-form-field appearance="fill">
            <mat-label>Adresse électronique</mat-label>
            <input matInput [type]="'email'" placeholder="exemple@exemple.com" required formControlName="email">
            <mat-error *ngIf="validateField('email')">{{ emailError }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Entrez votre mot de passe</mat-label>
            <input matInput required [type]="hidePwd ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hidePwd = !hidePwd" [attr.aria-label]="'Masquer le mot de passe'" [attr.aria-pressed]="hidePwd">
                <mat-icon>{{ hidePwd ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="validateField('password')">{{ passwordError }}</mat-error>
        </mat-form-field>
        <div class="forgot-pwd">
            <a routerLink="/forgot-password">Mot de passe oublié ?</a>
        </div>
    </div>
    <div class="buttons">
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Se connecter</button>
        <div class="or-separator">ou</div>
        <a mat-stroked-button routerLink="/sign-up">Créer un compte</a>
    </div>
    Dev<a routerLink="/member">Member</a>
</form>