<article [id]="post.id">
  <div class="post-info">
    <img class="post-picture"
      [src]="post.pictureUrl"
      [alt]="post.pictureAlt"
    />
    <div class="post-name">{{ post.name }}</div>
  </div>
  <div class="article-content">
    <p>
      {{ post.content }}
    </p>
    <div class="comments" *ngIf="post.comments">
      <div [id]="comment.id" class="comment" *ngFor="let comment of post.comments">
        <p class="comment-content"><span class="comment-author">{{ comment.name }} :</span>
        {{ comment.content }}</p>
      </div>
    </div>
    <div class="leave-comment">
      <app-reply></app-reply>
    </div>
  </div>
</article>
