<article [id]="post.pid">
  <div class="post-info">
    <img class="post-picture"
      [src]="post.picture"
      [alt]="'Photo de profil de ' + post.author"
    />
    <div class="post-name">{{ post.author }}</div>
  </div>
  <div class="post-menu" *ngIf="canDisplayMenu">
    <button mat-icon-button [matMenuTriggerFor]="postMenu" aria-label="Post Menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #postMenu>
      <button mat-menu-item (click)="deletePost()">
        <mat-icon>delete</mat-icon>
        <span>Supprimer le post.</span>
      </button>
    </mat-menu>
  </div>
  <div class="article-content">
    <p>
      {{ post.content }}
    </p>
    <div class="comments" *ngIf="post.comments">
      <div [id]="comment.cid" class="comment" *ngFor="let comment of post.comments">
        <p class="comment-content"><span class="comment-author">{{ comment.author }} :</span>
        {{ comment.content }}</p>
      </div>
    </div>
    <div class="leave-comment">
      <app-reply role="reply" [id]="post.pid"></app-reply>
    </div>
  </div>
</article>
