<div class="container">
    <header>
        <div class="logo">
          <img src="assets/images/logo.jpg" alt="Logo Social Network" />
        </div>
        <div class="title">
            <h1>Changement de mot de passe</h1>
        </div>
    </header>
        <form [formGroup]="resetForm" (ngSubmit)="onFormSubmit()">
            <p>Entrez un nouveau mot de passe :</p>
            <mat-form-field appearance="fill">
                <mat-label>Votre nouveau mot de passe</mat-label>
                <input matInput [type]="'password'" required formControlName="password">
                <mat-hint>Min 8 caractères</mat-hint>
                <mat-error *ngIf="validateField('password')">{{ passwordError }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Confirmez le nouveau mot de passe</mat-label>
                <input matInput [type]="'password'" required formControlName="confirm">
                <mat-hint>Min 8 caractères</mat-hint>
                <mat-error *ngIf="validateField('confirm')">{{ confirmError }}</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="resetForm.invalid">Changer le mot de passe</button>
        </form>
</div>
