@import "./variables";

a {
  color: $fontColor;
  text-decoration: none;
}

.snackBar-error {
  background-color: #c03131;
  color: #000;

  button {
    color: #000;
  }
}

.snackBar-top,
.snackBar-error {
  position: relative;
  top: 10vh;
}

.profile-picture {
  border: 7px $blue solid;
  border-radius: 50%;
  filter: $drop-shadow;
}

@media screen and (min-width: $sm) {
  .snackBar-top,
  .snackBar-error {
    top: 5vh;
  }
}
