$bgcDark: #007090;
$bgcSecondary: #dde7f3;
$white: #f8fbfd;
$bgcMain: #ccc;
$bgcArticle: #fff;

$fontColor: #2a3846;

$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1980px;

$blue: #319ec0;

$light-blue: #6dd0f3;

$complementary: #c05231;

$analogous1: #31c09a;
$analogous2: #3157c0;

$triadic1: #5231c0;
$triadic2: #c0319f;

$drop-shadow: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
