@import "src/scss/variables";

.label {
  font-style: italic;
  margin-bottom: 3px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .discussion {
    border: $blue 5px solid;
    border-radius: 50%;
    width: calc(20vw - 5px);
    height: calc(20vw - 5px);
    white-space: normal;

    .discussion-authors {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .discussion-author {
      font-size: 0.8em;
      line-height: initial;
    }
  }
}

@media screen and (min-width: $sm) {
  .label {
    transform: translateX(-35px);
  }

  .container {
    flex-direction: column;

    .discussion {
      border: $blue 7px solid;
      width: 90px;
      height: 90px;
      filter: $drop-shadow;
      background-color: #fff;
      margin: 10px 0;
    }
  }
}
