<header>
  <ng-container *ngIf="isSmallScreen">
    <button
      mat-icon-button
      class="menu-icon"
      aria-label="menu icône"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <app-menu></app-menu>
    </mat-menu>
  </ng-container>
  <div class="logo">
      <img src="assets/images/logo.jpg" alt="Logo Social Network" />
  </div>
  <div class="user-container">
    <div class="user">
      <div class="hello">
        Bonjour <span class="user-name">{{ userName }}</span>
      </div>
      <div>
        <a [routerLink]="['/member/wall', uid]">
          <img class="profile-picture"
            [src]="picture"
            alt="Photo de profil de {{ userName}}"
          />
        </a>
      </div>
    </div>
    <app-menu *ngIf="!isSmallScreen"></app-menu>
  </div>
</header>
