@import "../../../../scss/_variables";

.container {
  background-color: $bgcArticle;
  border-radius: 2px;
  box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.2);
  margin: 1em auto;
}

.breadcrumbs {
  h2 {
    font-style: italic;
  }
}

@media screen and (min-width: $sm) {
  section {
    margin: 5px 50px;
  }
}
