<div class="container">
    <main>
      <div class="breadcrumbs">
        <h2>{{ breadcrumbs }}</h2>
        <div class="dark"></div>
        <div class="options"></div>
      </div>
      <aside class="circle">
        <h5>Cercles</h5>
      </aside>
      <section>
        <app-reply role="postMessage" [id]="wallId"></app-reply>
        <ng-container *ngFor="let post of posts">
          <app-post [post]="post"></app-post>
        </ng-container>
      </section>
      <aside class="messages"></aside>
    </main>
  </div>
  