@import "~/src/scss/variables";

.message {
  margin: 10px 0;
}

.message-date {
  color: gray;
  font-size: 0.75em;
  padding: 0 10px;
}

.sending-zone {
  position: fixed;
  bottom: calc(5vw + 48px + 170px);
  left: 0;
  right: 0;
  background-color: $white;

  .send-message-form {
    width: 93%;
    padding: 0 10px;
  }
}

@media screen and (min-width: $sm) {
  .sending-zone {
    bottom: calc(5vw + 48px + 150px);
  }
}
