@import "../../../../scss/variables";

footer {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0;
  position: relative;
  z-index: 10;
}

.container {
  background-color: $bgcDark;
}

.shape-divider {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);

  svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: calc(5vw + 48px);

    .shape-fill {
      fill: $bgcDark;
    }
  }
}

.container {
  padding: 0 calc(2vw + 1em);
}

h2,
li {
  color: $white;
}

ul {
  list-style: none;
  padding-bottom: 5px;

  a {
    text-decoration: none;
  }

  a,
  a:visited {
    color: $white;
  }
}
